#!/usr/bin/env bash

source $HOME/dev/binx/profile/sane_bash.sh

############### VENV ###############
# Emulate the pipenvs's activate, because we can't source things in direnv
layout_pipenv
#dotenv

############### Exports ###############
PROJ_DIR="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"
export PROJ_DIR
Green "-M- exporting PROJ_DIR: $PROJ_DIR"

tmux rename-window $(basename $PROJ_DIR)

export senv="source $PROJ_DIR/scripts/env.sh"
export PYTHONPATH=$PROJ_DIR

PATH_add $PROJ_DIR/scripts

############### Dotfile ###############
DOTFILE_PYCHARM=".env.pycharm"
>$DOTFILE_PYCHARM


# create dotfile for pycharm (sanitized, no export)
if [[ "$OSTYPE" == "darwin"* ]]; then
    DOTFILE_OS=".env.mac"
elif [[ "$OSTYPE" == "linux-gnu" ]]; then
    DOTFILE_OS=".env.linux"
fi
if [[ -f "$DOTFILE_OS" ]]; then
    echo "-M- sourcing $DOTFILE_OS"
    #dotenv "$DOTFILE_OS"
    source "$DOTFILE_OS"
    cat "$DOTFILE_OS" | sed '/^echo/d' | sed '/^$/d' | sed 's/export //g' >> $DOTFILE_PYCHARM
fi

DOTFILE=".env.local"
if [[ -f "$DOTFILE" ]]; then
    echo "-M- sourcing $DOTFILE"
    #dotenv $DOTFILE  # enforces trigger after change
    source "$DOTFILE"
    cat "$DOTFILE" | sed '/^echo/d' | sed '/^$/d' | sed 's/export //g' >> $DOTFILE_PYCHARM
fi

DOTFILE=".env"
if [[ -f "$DOTFILE" ]]; then
    echo "-M- sourcing $DOTFILE"
    #dotenv $DOTFILE  # enforces trigger after change
    source "$DOTFILE"
    cat "$DOTFILE" | sed '/^echo/d' | sed '/^$/d' | sed 's/export //g' >> $DOTFILE_PYCHARM
fi

# make sure no confidential info gets into repo
GITIGNORE='.gitignore'
grep '.env$' "$GITIGNORE" > /dev/null 2>&1
[ $? -ne 0 ] && echo ".env" >> "$GITIGNORE"
#grep '.envrc$' "$GITIGNORE" > /dev/null 2>&1
#[ $? -ne 0 ] && echo ".envrc" >> "$GITIGNORE"
grep 'env.pycharm$' "$GITIGNORE" > /dev/null 2>&1
[ $? -ne 0 ] && echo ".env.pycharm" >> "$GITIGNORE"
