[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
codecov = "*"
pytest-cov = "*"
scandir = "*"
pyyaml = "*"
mock = "*"
nuitka = "*"

[packages]
# bookmarks-parser = "*"
beautifulsoup4 = "*"
html5lib = "*"
typer = "*"
ipython = "*"
aiosql = "*"
alembic = "*"
sqlalchemy = "*"
certifi = "*"
cryptography = "*"
urllib3 = "*"
pydantic = "*"

[requires]
python_version = "3.9"
